Indian Start-up Ecosystem Funding Analysis (2018-2021)

Business Understanding

Summary of the Task:
This project involves analyzing the funding received by start-ups in India from 2018 to 2021. The goal is to investigate the Indian start-up ecosystem and propose strategic recommendations based on data-driven insights. The datasets are provided for each year, and the analysis will cover start-up details, funding amounts, and investors' information. Data is stored across various sources, and it is crucial to gather, clean, and analyze this data to derive meaningful insights


Project Name:
Indian Start-up Funding Project (2018-2021)

Summary of the Task:
This project involves analyzing the funding received by start-ups in India from 2018 to 2021. The goal is to investigate the Indian start-up ecosystem and propose strategic recommendations based on data-driven insights. The datasets are provided for each year, and the analysis will cover start-up details, funding amounts, and investors' information. Data is stored across various sources, and it is crucial to gather, clean, and analyze this data to derive meaningful insights.

Libraries and Packages:
pandas for data manipulation and analysis
numpy for numerical operations
pyodbc for database connectivity
sqlalchemy for database ORM (optional)
matplotlib and seaborn for data visualization
scikit-learn for machine learning (if applicable)
python-dotenv for managing environment variables
requests for handling HTTP requests (if needed)
os and pathlib for handling file paths and directories

## Business Questions

1.What sectors have shown the highest growth in terms of funding received over the past four years?

2.What geographical regions within India have emerged as the primary hubs for startup activity and investment, and what factors contribute to their prominence?

3.Are there any notable differences in funding patterns between early-stage startups and more established companies?

4.Which sectors recieve the lowest level of funding and which sectors recieve the highest levels of funding in India and what factors contribute to this?

5.Which investors have more impact on startups over the years?

6.What are the key characteristics of startups that successfully secure funding, and how do they differ from those that struggle to attract investment?

1. Sectors with Highest Growth: This question helps identify the sectors that are experiencing rapid growth in terms of funding received, providing valuable insights into where investor interest and capital are flowing. Understanding these sectors can help investors identify potential high-growth opportunities for investment.

2. Geographical Regions for Startup Activity: Understanding the primary hubs for startup activity and investment within India helps investors gauge where the most vibrant ecosystems are located. Factors contributing to their prominence, such as infrastructure, government support, and access to talent, can influence investment decisions and strategies.

3. Funding Patterns Across Startup Stages: Comparing funding patterns between early-stage startups and more established companies helps investors understand how investment behavior varies depending on the maturity and growth stage of the startup. This insight can inform investment strategies tailored to different stages of the startup lifecycle.

4. Sectorial Funding Disparities: Identifying sectors with the lowest and highest levels of funding sheds light on where capital is concentrated and where there may be untapped opportunities. Understanding the factors contributing to these disparities can help investors assess sector-specific risks and opportunities.

5. Impactful Investors: Analyzing the influence of different investors on startups over the years provides insights into which investors have been most active and successful in driving startup growth. This understanding can help investors identify potential partners or co-investors and assess the reputations and track records of different investment firms.

6. Characteristics of Funded Startups: Identifying key characteristics shared by startups that successfully secure funding helps investors understand what factors contribute to investment readiness and attractiveness. Contrasting these characteristics with those of startups that struggle to attract investment can provide valuable lessons for entrepreneurs and investors alike.

Null Hypothesis(Ho): There is no significant difference in the amount of funding between startups in particular "location".

Alternative Hypothesis(Ha): There is a significant difference in the amount of funding between startups in "Blocation".

In [4045]:
# Data manipulation and analysis
import pandas as pd
import numpy as np
import re

import folium
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.subplots import go
from matplotlib.ticker import FuncFormatter
# Database connectivity
import pyodbc

# Database ORM (optional)
from sqlalchemy import create_engine

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns


# Machine learning (if applicable)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

# Managing environment variables
from dotenv import dotenv_values

# Handling HTTP requests (if needed)
import requests

# Handling file paths and directories
import os
from pathlib import Path


import warnings 

warnings.filterwarnings('ignore')

Loading Data to Python VSO Environment:

1. Database Connection (2020 and 2021 Data):

In [4046]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

In [4047]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [4048]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [4049]:
# Now the sql query to get the data is what what you see below. 


#query = "SELECT * FROM LP2_Telco_churn_first_3000"

# Note that you will not have permissions to insert delete or update this database table. 
# select data from 2020

query = "SELECT * FROM LP1_startup_funding2020"

data20 = pd.read_sql(query, connection)
data20.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [4050]:
data20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [4051]:
data20.shape

(1055, 10)

In [4052]:
# creating a column to identify each dataset by addition of data year

data20['Funding_Year'] = 2020

#Change the funding year to integer type

data20['Funding_Year'] = data20['Funding_Year'].astype(int)

data20.info()

data20.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
 10  Funding_Year   1055 non-null   int32
dtypes: float64(2), int32(1), object(8)
memory usage: 86.7+ KB

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [4053]:
data20.shape

(1055, 11)

In [4054]:
#printing columns to compare if the column names are matching
print(data20.columns)

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10', 'Funding_Year'],
      dtype='object')

In [4055]:
# Renaming some columns

data20.rename(columns = {'Company_Brand' :'Company_Name'}, inplace =True)

data20.rename(columns = {'HeadQuarter': 'Location'}, inplace =True)

data20.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [4056]:
#select specific columns
data20 = data20[['Company_Name', 'Founded','Location','Sector','What_it_does','Founders','Investor','Amount','Stage','Funding_Year']]
                
data20.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020

In [4057]:
# Converting the funded column to numeric data
data20['Founded'] = pd.to_numeric(data20['Founded'], errors='coerce').convert_dtypes(int)

#### Exchange rates 

[Source: OFX](https://www.ofx.com/en-au/forex-news/historical-exchange-rates/yearly-average-rates/)
```bash
exchange_rates = {
    2018: 0.014649,
    2019: 0.014209,
    2020: 0.013501,
    2021: 0.013527
}

In [4058]:
# Create a function to clean the Amount column of the 2018 DataFrame and convert Indian Rupees to US Dollars

def clean_amount_2020(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        Amount = Amount.replace('—', "")
        # Check if the value is in Indian Rupees and convert US Dollars: Using USD = 68.4113 which was the average annual Indian Rupee to US Dollars in 2018
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) * 0.0146, 2)
        # Check if the value is in US Dollars
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round (float(Amount), 2)
        # check if no currency symbol is present, assume US Dollars
        else:
            return round(float(Amount), 2)
    except ValueError:
        # If the value is not a number, return NaN
        return np.nan
        
# Clean the Amount column of the 2018 DataFrame
data20["Amount"] = data20["Amount"].apply(clean_amount_2020)

In [4059]:
# Converting the Amount column to a numeric, there the need to remove some symbols including commas and currency

data20['Amount'] = data20['Amount'].apply(lambda x:str(x).replace('$', ''))

data20['Amount'] = data20['Amount'].apply(lambda x:str(x).replace(',', ''))

data20['Amount'] = data20['Amount'].replace('—', np.nan)

In [4060]:
#Find the number of rows with undisclosed amounts 

index1 = data20.index[data20['Amount']=='Undisclosed']

print('The total number of undisclosed records is', len(index1))

The total number of undisclosed records is 0

In [4061]:
# convert undisclosed to NAN
data20['Amount'] = data20['Amount'].replace('Undisclosed', np.nan)

In [4062]:
#print a summary information on the 2020 data 
data20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  1055 non-null   object
 1   Founded       842 non-null    Int64
 2   Location      961 non-null    object
 3   Sector        1042 non-null   object
 4   What_it_does  1055 non-null   object
 5   Founders      1043 non-null   object
 6   Investor      1017 non-null   object
 7   Amount        1055 non-null   object
 8   Stage         591 non-null    object
 9   Funding_Year  1055 non-null   int32
dtypes: Int64(1), int32(1), object(8)
memory usage: 79.5+ KB

In [4063]:
#Find the row with 887000 23000000 in the amount section
index1 = data20.index[data20['Amount']=='887000 23000000']
index1

Index([], dtype='int64')

In [4064]:
#replace the values with the average 
avg = str((887000+23000000)/2)
data20.at[465, 'Amount'] = avg

In [4065]:
#print the row record to confirm
print(data20.iloc[(465)])

Company_Name                                         True Balance
Founded                                                      2014
Location                                                 Gurugram
Sector                                                    Finance
What_it_does    Earn money by meeting financial needs of your ...
Founders                                     Charlie, Jay, Martin
Investor                                              Balancehero
Amount                                                 11943500.0
Stage                                                    Series C
Funding_Year                                                 2020
Name: 465, dtype: object

In [4066]:

#Find the row with 800000000 to 850000000 in the amount section
index2 = data20.index[data20['Amount']=='800000000 to 850000000']

In [4067]:
#replace the values with the average 
avg = str((800000000+850000000)/2)

data20.at[472, 'Amount'] = avg

In [4068]:
#print the row record to confirm 
print(data20.iloc[(472)])

Company_Name                                             Eruditus
Founded                                                      2010
Location                                                   Mumbai
Sector                                                  Education
What_it_does    Bring world-class business and professional ed...
Founders                     Chaitanya Kalipatnapu, Ashwin Damera
Investor        Bertelsmann India Investments, Sequoia Capital...
Amount                                                825000000.0
Stage                                                        None
Funding_Year                                                 2020
Name: 472, dtype: object

In [4069]:
#Convert the Amount column to numeric 

data20['Amount'] = pd.to_numeric(data20['Amount'], errors='coerce')

In [4070]:
#print a summary information on the 2020 data 
data20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  1055 non-null   object
 1   Founded       842 non-null    Int64
 2   Location      961 non-null    object
 3   Sector        1042 non-null   object
 4   What_it_does  1055 non-null   object
 5   Founders      1043 non-null   object
 6   Investor      1017 non-null   object
 7   Amount        803 non-null    float64
 8   Stage         591 non-null    object
 9   Funding_Year  1055 non-null   int32
dtypes: Int64(1), float64(1), int32(1), object(7)
memory usage: 79.5+ KB

In [4071]:
duplicates = data20[data20.duplicated()]

duplicates

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
145,Krimanshi,2015,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,2020
205,Nykaa,2012,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,2020
362,Byju’s,2011,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,2020

In [4072]:
#drop all duplicates and leave only one record 

data20 = data20.drop_duplicates(keep='first')

In [4073]:
#Check the 2020 datatset information to confirm the datatypes 
data20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  1052 non-null   object
 1   Founded       839 non-null    Int64
 2   Location      958 non-null    object
 3   Sector        1039 non-null   object
 4   What_it_does  1052 non-null   object
 5   Founders      1040 non-null   object
 6   Investor      1014 non-null   object
 7   Amount        801 non-null    float64
 8   Stage         590 non-null    object
 9   Funding_Year  1052 non-null   int32
dtypes: Int64(1), float64(1), int32(1), object(7)
memory usage: 87.3+ KB

In [4074]:
#Check the first set of row 
data20.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020

In [4075]:
# select data from 2021

query = "SELECT * FROM LP1_startup_funding2021"

data21 = pd.read_sql(query, connection)
data21.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [4076]:
data21.shape

(1209, 9)

In [4077]:
data21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [4078]:
# creating a column to identify each dataset by addition of data year

data21['Funding_Year'] = 2021

# change the Funding_Year to interger type

data21['Funding_Year'] = data21['Funding_Year'].astype(int)

data21.info()

data21.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
 9   Funding_Year   1209 non-null   int32
dtypes: float64(1), int32(1), object(8)
memory usage: 89.9+ KB

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [4079]:
#printing columns to compare if the column names are matching

print(data21.columns)

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Funding_Year'],
      dtype='object')

In [4080]:
# Renaming some columns

data21.rename(columns = {'Company_Brand' :'Company_Name'}, inplace =True)

data21.rename(columns = {'HeadQuarter': 'Location'}, inplace =True)

data21.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [4081]:
#select specific columns
data21 = data21[['Company_Name', 'Founded','Location','Sector','What_it_does', 'Founders','Investor','Amount','Stage','Funding_Year']]
                
data21.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [4082]:
# total undisclosed in the dataset
index5 = data21.index[data21['Amount']=='Undisclosed']

print(len(index5))

43

In [4083]:
#print the row records 
data21.loc[(index5)].tail()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
824,Avalon Labs,2017.0,Bangalore,FinTech,"Avalon Labs incubates, invests, partners with ...",Varun Mayya,"Tanglin Ventures, Better Capital, Whiteboard C...",Undisclosed,Pre-series A,2021
827,Rezo.ai,2017.0,Noida,AI startup,Conversational AI platform - Innovate the way ...,"Manish Gupta, Rashi Gupta","Devesh Sachdev, Bhavesh Manglani",Undisclosed,Seed,2021
833,Polygon,2017.0,Mumbai,Crypto,Polygon is a blockchain scalability platform.,"Jaynti Kanani, Sandeep Nailwal, Anurag Arjun","Mark Cuban, MiH Ventures",Undisclosed,None,2021
846,Ingenium,2018.0,New Delhi,EdTech,Ingenium Education has been pushing e-learning...,"Pramudit Somvanshi, Mohit Patel, Aakash Gupta",Lead Angels,Undisclosed,Seed,2021
853,Celcius,2020.0,Mumbai,Logistics,The “ONLINE” Cold Chain network for Reefer tru...,"Swarup Bose, Rajneesh Raman, Arbind Jain",Eaglewings Ventures,Undisclosed,Seed,2021

In [4084]:
# Replace the Undisclosed with NAN

data21['Amount'] = data21['Amount'].replace('Undisclosed', np.nan)

In [4085]:
#print the last 5 row records 
data21.loc[(index5)].tail()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
824,Avalon Labs,2017.0,Bangalore,FinTech,"Avalon Labs incubates, invests, partners with ...",Varun Mayya,"Tanglin Ventures, Better Capital, Whiteboard C...",NaN,Pre-series A,2021
827,Rezo.ai,2017.0,Noida,AI startup,Conversational AI platform - Innovate the way ...,"Manish Gupta, Rashi Gupta","Devesh Sachdev, Bhavesh Manglani",NaN,Seed,2021
833,Polygon,2017.0,Mumbai,Crypto,Polygon is a blockchain scalability platform.,"Jaynti Kanani, Sandeep Nailwal, Anurag Arjun","Mark Cuban, MiH Ventures",NaN,None,2021
846,Ingenium,2018.0,New Delhi,EdTech,Ingenium Education has been pushing e-learning...,"Pramudit Somvanshi, Mohit Patel, Aakash Gupta",Lead Angels,NaN,Seed,2021
853,Celcius,2020.0,Mumbai,Logistics,The “ONLINE” Cold Chain network for Reefer tru...,"Swarup Bose, Rajneesh Raman, Arbind Jain",Eaglewings Ventures,NaN,Seed,2021

In [4086]:
# number of upspark in Amount column
index6 = data21.index[data21['Amount']=='Upsparks']

print(len(index6)), index6

2

(None, Index([98, 111], dtype='int64'))

In [4087]:
# display them
data21.loc[index6]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021

In [4088]:
#drop the duplicate

data21 = data21.drop(labels=index6[1], axis=0)

In [4089]:
#Rearrange the record data correctly 

data21.loc[index6[0], ['Amount', 'Stage']] = ['$1200000', '']

In [4090]:
# dispaly the changes 
data21.iloc[98]

Company_Name                                              FanPlay
Founded                                                    2020.0
Location                                           Computer Games
Sector                                             Computer Games
What_it_does    A real money game app specializing in trivia g...
Founders                                                   YC W21
Investor                              Pritesh Kumar, Bharat Gupta
Amount                                                   $1200000
Stage
Funding_Year                                                 2021
Name: 98, dtype: object

In [4091]:
# Find element in amount with series C
index7 = data21.index[data21['Amount']=='Series C']

print(len(index7)), index7

2

(None, Index([242, 256], dtype='int64'))

In [4092]:
# show the entry
data21.loc[index7]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None,2021
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None,2021

In [4093]:
#since its duplicate  drop one 
data21 = data21.drop(labels=index7[1], axis=0)

In [4094]:
#rearrange the columns entery 
data21.loc[index7[0], ['Sector', 'Location', 'Amount', 'Investor', 'Stage']] = ['Pharmaceuticals', '', '$22000000', '', 'Series C']

data21.loc[242]

Company_Name                    Fullife Healthcare
Founded                                     2009.0
Location
Sector                             Pharmaceuticals
What_it_does                          Varun Khanna
Founders        Morgan Stanley Private Equity Asia
Investor
Amount                                   $22000000
Stage                                     Series C
Funding_Year                                  2021
Name: 242, dtype: object

In [4095]:
index8 = data21.index[data21['Amount']=='Seed']

print(index8)

Index([257, 1148], dtype='int64')

In [4096]:
data21.loc[index8]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000,Seed,None,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000\t#REF!,Seed,None,2021

In [4097]:
data21.loc[index8[0], ['Sector', 'Location', 'Amount', 'Investor', 'Stage']] = ['Electric Mobility', 'Gurugram', '$5000000', '', 'Seed']
data21.loc[index8[1], ['Amount', 'Investor', 'Stage']] = ['1000000', '', 'Seed']

In [4098]:
data21.loc[257]

Company_Name                                           MoEVing
Founded                                                 2021.0
Location                                              Gurugram
Sector                                       Electric Mobility
What_it_does                       Vikash Mishra, Mragank Jain
Founders        Anshuman Maheshwary, Dr Srihari Raju Kalidindi
Investor
Amount                                                $5000000
Stage                                                     Seed
Funding_Year                                              2021
Name: 257, dtype: object

In [4099]:
index9 = data21.index[data21['Amount']=='ah! Ventures']

print(index9)

Index([538], dtype='int64')

In [4100]:
data21.loc[index9]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,2021

In [4101]:
data21.loc[index9, ['Amount', 'Stage']] = ['$300000', '']

In [4102]:
data21.loc[538]

Company_Name                                          Little Leap
Founded                                                    2020.0
Location                                                New Delhi
Sector                                                     EdTech
What_it_does                  Soft Skills that make Smart Leaders
Founders        Holistic Development Programs for children in ...
Investor                                             Vishal Gupta
Amount                                                    $300000
Stage
Funding_Year                                                 2021
Name: 538, dtype: object

In [4103]:
# Pre-series A
index10 = data21.index[data21['Amount']=='Pre-series A']

index10

Index([545], dtype='int64')

In [4104]:
data21.loc[index10]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,Pre-series A,None,2021

In [4105]:
# ITO angel network, letsventure
index11 = data21.index[data21['Amount']=='ITO Angel Network, LetsVenture']

index11

Index([551], dtype='int64')

In [4106]:
data21.loc[index11]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,2021

In [4107]:

# rearranging 
data21.at[551, 'Amount'] = '$300000'
data21.at[551, 'Investor'] = 'Omkar Pandharkame, Ketaki Ogale, JITO Angel Network, LetsVenture'
data21.at[551, 'Stage'] = ''

In [4108]:
data21.loc[index11]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale, JITO Angel Ne...",$300000,,2021

In [4109]:
# JITO Angel Network, LetsVenture
index12 = data21.index[data21['Amount']=='JITO Angel Network, LetsVenture']

index12

Index([677], dtype='int64')

In [4110]:
data21.loc[index12]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021

In [4111]:
# rearranging 
data21.at[677, 'Amount'] = '$1000000'
data21.at[677, 'Investor'] = 'Sushil Agarwal, JITO Angel Network, LetsVenture'
data21.at[677, 'Stage'] = ''

In [4112]:
data21.loc[index12]

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,"Sushil Agarwal, JITO Angel Network, LetsVenture",$1000000,,2021

In [4113]:
index13 = data21.index[data21['Amount']=='nan']

data21['Amount'] = data21['Amount'].replace('nan', np.nan)

In [4114]:
index13 = data21.index[data21['Amount']=='nan']

data21['Amount'] = data21['Amount'].replace('nan', np.nan)

#### Exchange rates 

[Source: OFX](https://www.ofx.com/en-au/forex-news/historical-exchange-rates/yearly-average-rates/)
```bash
exchange_rates = {
    2018: 0.014649,
    2019: 0.014209,
    2020: 0.013501,
    2021: 0.013527
}

In [4115]:
# Create a function to clean the Amount column of the 2018 DataFrame and convert Indian Rupees to US Dollars

def clean_amount_2021(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        Amount = Amount.replace('—', "")
        # Check if the value is in Indian Rupees and convert US Dollars: Using USD = 68.4113 which was the average annual Indian Rupee to US Dollars in 2018
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) * 0.0146, 2)
        # Check if the value is in US Dollars
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round (float(Amount), 2)
        # check if no currency symbol is present, assume US Dollars
        else:
            return round(float(Amount), 2)
    except ValueError:
        # If the value is not a number, return NaN
        return np.nan
        
# Clean the Amount column of the 2018 DataFrame
data21["Amount"] = data21["Amount"].apply(clean_amount_2021)

In [4116]:
# replace $ and , to empty space, - to NAN
data21['Amount'] = data21['Amount'].apply(lambda x:str(x).replace('$', ''))

data21['Amount'] = data21['Amount'].apply(lambda x:str(x).replace(',', ''))

data21['Amount'] = data21['Amount'].replace('—', np.nan)

In [4117]:
data21.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  1207 non-null   object
 1   Founded       1206 non-null   float64
 2   Location      1206 non-null   object
 3   Sector        1207 non-null   object
 4   What_it_does  1207 non-null   object
 5   Founders      1203 non-null   object
 6   Investor      1145 non-null   object
 7   Amount        1207 non-null   object
 8   Stage         783 non-null    object
 9   Funding_Year  1207 non-null   int32
dtypes: float64(1), int32(1), object(8)
memory usage: 131.3+ KB

# convert amount column to numeric
data21['Amount']  = pd.to_numeric(data21['Amount'], errors='coerce')

In [4118]:
# Considering Location Column
data21.loc[98]

Company_Name                                              FanPlay
Founded                                                    2020.0
Location                                           Computer Games
Sector                                             Computer Games
What_it_does    A real money game app specializing in trivia g...
Founders                                                   YC W21
Investor                              Pritesh Kumar, Bharat Gupta
Amount                                                  1200000.0
Stage
Funding_Year                                                 2021
Name: 98, dtype: object

In [4119]:
data21.loc[752]

Company_Name                                        NewLink Group
Founded                                                    2016.0
Location                                                  Beijing
Sector                                               Tech Startup
What_it_does    Developer of an energy management and transpor...
Founders                                      Yang Wang, Zhen Dai
Investor                                             Bain Capital
Amount                                                200000000.0
Stage                                                        None
Funding_Year                                                 2021
Name: 752, dtype: object

In [4120]:
data21['Location'] = data21.Location.str.split(',').str[0]
data21.at[32, 'Location'] = 'Andhra Pradesh'
data21.at[98, 'Location'] = ''
data21.at[241, 'Location'] = ''
data21.at[255, 'Location'] = ''
data21.at[752, 'Location'] = ''
data21.at[1100, 'Location'] = ''
data21.at[1176, 'Location'] = ''

In [4121]:
# Considering Sector Attribute

data21['Sector'] = data21.Sector.str.split(',').str[0]
data21.at[1100, 'Sector'] = 'Audio experience'

In [4122]:
data21.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed,2021

Loading Data to Python VSO Environment:

2. Database Connection (2019 Data):

In [4123]:
# Accessing the data for 2019 can be found in OneDrive. The file name startup_funding2019.csv

data19 = pd.read_csv('startup_funding2019.csv')
data19.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [4124]:
data19.shape

(89, 9)

In [4125]:
data19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [4126]:
# Creating a column to identify each dataset by addition of data year
data19['Funding_Year'] = 2019

#Change the funding year to integer type

data19['Funding_Year'] = data19['Funding_Year'].astype(int)


data19.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [4127]:

# rename the columns for consistency 

data19.rename(columns = {'Company/Brand':'Company_Name'}, inplace = True)

data19.rename(columns = {'HeadQuarter':'Location'}, inplace = True)

data19.rename(columns = {'Amount($)':'Amount'}, inplace = True)

data19.rename(columns = {'What it does':'What_it_does'}, inplace = True)

data19.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [4128]:
#select specific columns
data19 = data19[['Company_Name', 'Founded','Location','Sector','What_it_does','Founders','Investor','Amount','Stage','Funding_Year']]
data19.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [4129]:
#check the summarized information on the 2019 dataset 
data19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  89 non-null     object
 1   Founded       60 non-null     float64
 2   Location      70 non-null     object
 3   Sector        84 non-null     object
 4   What_it_does  89 non-null     object
 5   Founders      86 non-null     object
 6   Investor      89 non-null     object
 7   Amount        89 non-null     object
 8   Stage         43 non-null     object
 9   Funding_Year  89 non-null     int32
dtypes: float64(1), int32(1), object(8)
memory usage: 6.7+ KB

##### Exchange rates 

[Source: OFX](https://www.ofx.com/en-au/forex-news/historical-exchange-rates/yearly-average-rates/)
```bash
exchange_rates = {
    2018: 0.014649,
    2019: 0.014209,
    2020: 0.013501,
    2021: 0.013527
}

In [4130]:
# Create a function to clean the Amount column of the 2018 DataFrame and convert Indian Rupees to US Dollars

def clean_amount_2019(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        Amount = Amount.replace('—', "")
        # Check if the value is in Indian Rupees and convert US Dollars: Using USD = 68.4113 which was the average annual Indian Rupee to US Dollars in 2018
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) * 0.0142, 2)
        # Check if the value is in US Dollars
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round (float(Amount), 2)
        # check if no currency symbol is present, assume US Dollars
        else:
            return round(float(Amount), 2)
    except ValueError:
        # If the value is not a number, return NaN
        return np.nan
        
# Clean the Amount column of the 2018 DataFrame
data19["Amount"] = data19["Amount"].apply(clean_amount_2019)

In [4131]:
#To convert the column to a numerical one, there the need to remove some symbols including commas and currency

data19['Amount'] = data19['Amount'].apply(lambda x:str(x).replace('₹', ''))

data19['Amount'] = data19['Amount'].apply(lambda x:str(x).replace('$', ''))

data19['Amount'] = data19['Amount'].apply(lambda x:str(x).replace(',', ''))

data19['Amount'] = data19['Amount'].replace('—', np.nan)

In [4132]:
#Some rows-values in the amount column are undisclosed 
# Extract the rows with undisclosed funding information 

index_new = data19.index[data19['Amount']=='Undisclosed']
#Print the number of rows with such undisclosed values
print('The number of values with undisclosed amount is ', len(index_new))

The number of values with undisclosed amount is  0

In [4133]:
#check out these records 
data19.loc[(index_new)]

Empty DataFrame
Columns: [Company_Name, Founded, Location, Sector, What_it_does, Founders, Investor, Amount, Stage, Funding_Year]
Index: []

In [4134]:
#Since undisclosed amounts does not provide any intelligenc, 
#we decided to drop rows with such characteristics 
# Replace the undisclosed amounts with an empty string

data19['Amount'] = data19['Amount'].replace('Undisclosed', np.nan)

In [4135]:
#check out these records 
data19.loc[(index_new)]

Empty DataFrame
Columns: [Company_Name, Founded, Location, Sector, What_it_does, Founders, Investor, Amount, Stage, Funding_Year]
Index: []

In [4136]:
#Convert the Amount column to float 

data19['Amount'] = pd.to_numeric(data19['Amount'], errors='coerce')

In [4137]:
#Check the first 5 rows of the dataset 
data19.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN,2019

In [4138]:
#Check the summary information of the dataset 
data19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  89 non-null     object
 1   Founded       60 non-null     float64
 2   Location      70 non-null     object
 3   Sector        84 non-null     object
 4   What_it_does  89 non-null     object
 5   Founders      86 non-null     object
 6   Investor      89 non-null     object
 7   Amount        77 non-null     float64
 8   Stage         43 non-null     object
 9   Funding_Year  89 non-null     int32
dtypes: float64(2), int32(1), object(7)
memory usage: 6.7+ KB

In [4139]:
#Check if there are any NULL VALUES 
data19.isna().any().sum()

6

In [4140]:
#find duplicates 

duplicate = data19[data19.duplicated()]

duplicate

Empty DataFrame
Columns: [Company_Name, Founded, Location, Sector, What_it_does, Founders, Investor, Amount, Stage, Funding_Year]
Index: []

In [4141]:
data19['Amount'].unique()

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06,       nan,
       1.000e+06, 2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05,
       5.400e+08, 1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07,
       1.500e+06, 5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07,
       3.200e+07, 2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08,
       8.000e+06, 1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06,
       3.600e+07, 5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07,
       2.200e+05, 2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06,
       6.930e+08, 3.300e+07])

Loading Data to Python VSO Environment:

2. Database Connection (2018 Data):

In [4142]:
# The third data (data for 2018) is hosted on this GitHub Repository, in file called startup_funding2018.csv

data18 = pd.read_csv('startup_funding2018.csv')
data18.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [4143]:
data18.shape

(526, 6)

In [4144]:
data18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [4145]:
# rename the columns for consistency 

#industry --> sector 
#Round/Series --> stage 

data18.rename(columns = {'Company Name':'Company_Name'}, inplace = True)

data18.rename(columns = {'headquarter':'Location'}, inplace = True)

data18.rename(columns = {'Industry':'Sector'}, inplace = True)

data18.rename(columns = {'Round/Series':'Stage'}, inplace = True)

data18.rename(columns = {'About Company': 'What_it_does'}, inplace = True)

# Add founded, investor, What_it_does, Founders, funding year as a column 
data18['Founded'] = np.nan
data18['Investor'] = np.nan
data18['Founders'] = np.nan
data18

,Company_Name,Sector,Stage,Amount,Location,What_it_does,Founded,Investor,Founders
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",NaN,NaN,NaN
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,NaN,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN,NaN,NaN
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,NaN,NaN,NaN
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,NaN,NaN,NaN

In [4146]:
# Creating a column to identify each dataset by addition of data year

data18['Funding_Year'] = 2018

#Change the funding year to integer type 

data18['Funding_Year'] = data18['Funding_Year'].astype(int)

data18.head()

,Company_Name,Sector,Stage,Amount,Location,What_it_does,Founded,Investor,Founders,Funding_Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018

In [4147]:
#select specific columns
data18 = data18[['Company_Name', 'Founded','Location','Sector', 'What_it_does', 'Founders','Investor','Amount','Stage','Funding_Year']]
                
data18.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,NaN,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000,Seed,2018
1,Happy Cow Dairy,NaN,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,NaN,NaN,"₹40,000,000",Seed,2018
2,MyLoanCare,NaN,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,NaN,NaN,"₹65,000,000",Series A,2018
3,PayMe India,NaN,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000,Angel,2018
4,Eunimart,NaN,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,NaN,NaN,—,Seed,2018

In [4148]:
#check the shape of the dataset 
data18.shape

(526, 10)

In [4149]:
#check if there are any Null Values
data18.isna().any()

Company_Name    False
Founded          True
Location        False
Sector          False
What_it_does    False
Founders         True
Investor         True
Amount          False
Stage           False
Funding_Year    False
dtype: bool

In [4150]:
#Strip the location column to only the city-area. 
data18['Location'] = data18.Location.str.split(',').str[0]
data18['Location'].head()

0    Bangalore
1       Mumbai
2      Gurgaon
3        Noida
4    Hyderabad
Name: Location, dtype: object

In [4151]:
#Strip the sector column to the first sector element.
data18['Sector'] = data18.Sector.str.split(',').str[0]
data18['Sector'].head()

0         Brand Marketing
1             Agriculture
2                  Credit
3      Financial Services
4    E-Commerce Platforms
Name: Sector, dtype: object

In [4152]:
data18

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,NaN,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000,Seed,2018
1,Happy Cow Dairy,NaN,Mumbai,Agriculture,A startup which aggregates milk from dairy far...,NaN,NaN,"₹40,000,000",Seed,2018
2,MyLoanCare,NaN,Gurgaon,Credit,Leading Online Loans Marketplace in India,NaN,NaN,"₹65,000,000",Series A,2018
3,PayMe India,NaN,Noida,Financial Services,PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000,Angel,2018
4,Eunimart,NaN,Hyderabad,E-Commerce Platforms,Eunimart is a one stop solution for merchants ...,NaN,NaN,—,Seed,2018
...,...,...,...,...,...,...,...,...,...,...
521,Udaan,NaN,Bangalore,B2B,"Udaan is a B2B trade platform, designed specif...",NaN,NaN,225000000,Series C,2018
522,Happyeasygo Group,NaN,Haryana,Tourism,HappyEasyGo is an online travel domain.,NaN,NaN,—,Series A,2018
523,Mombay,NaN,Mumbai,Food and Beverage,Mombay is a unique opportunity for housewives ...,NaN,NaN,7500,Seed,2018
524,Droni Tech,NaN,Mumbai,Information Technology,Droni Tech manufacture UAVs and develop softwa...,NaN,NaN,"₹35,000,000",Seed,2018
525,Netmeds,NaN,Chennai,Biotechnology,Welcome to India's most convenient pharmacy!,NaN,NaN,35000000,Series C,2018

##### Exchange rates 

[Source: OFX](https://www.ofx.com/en-au/forex-news/historical-exchange-rates/yearly-average-rates/)
```bash
exchange_rates = {
    2018: 0.014649,
    2019: 0.014209,
    2020: 0.013501,
    2021: 0.013527
}

In [4153]:
# Create a function to clean the Amount column of the 2018 DataFrame and convert Indian Rupees to US Dollars

def clean_amount_2018(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        Amount = Amount.replace('—', "")
        # Check if the value is in Indian Rupees and convert US Dollars: Using USD = 68.4113 which was the average annual Indian Rupee to US Dollars in 2018
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) * 0.0146, 2)
        # Check if the value is in US Dollars
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round (float(Amount), 2)
        # check if no currency symbol is present, assume US Dollars
        else:
            return round(float(Amount), 2)
    except ValueError:
        # If the value is not a number, return NaN
        return np.nan
        
# Clean the Amount column of the 2018 DataFrame
data18["Amount"] = data18["Amount"].apply(clean_amount_2018)

In [4154]:
#get index of rows where 'Amount' column is in rupeess
#get_index = data18.index[data18['Amount'].str.contains('₹')]

In [4155]:
#Check the summary information about the 2018 dataset 
data18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  526 non-null    object
 1   Founded       0 non-null      float64
 2   Location      526 non-null    object
 3   Sector        526 non-null    object
 4   What_it_does  526 non-null    object
 5   Founders      0 non-null      float64
 6   Investor      0 non-null      float64
 7   Amount        378 non-null    float64
 8   Stage         526 non-null    object
 9   Funding_Year  526 non-null    int32
dtypes: float64(4), int32(1), object(5)
memory usage: 39.2+ KB

In [4156]:
data18.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,NaN,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000.0,Seed,2018
1,Happy Cow Dairy,NaN,Mumbai,Agriculture,A startup which aggregates milk from dairy far...,NaN,NaN,584000.0,Seed,2018
2,MyLoanCare,NaN,Gurgaon,Credit,Leading Online Loans Marketplace in India,NaN,NaN,949000.0,Series A,2018
3,PayMe India,NaN,Noida,Financial Services,PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000.0,Angel,2018
4,Eunimart,NaN,Hyderabad,E-Commerce Platforms,Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,Seed,2018

In [4157]:
data18['Amount'].unique()

array([2.500000e+05, 5.840000e+05, 9.490000e+05, 2.000000e+06,
                nan, 1.600000e+06, 2.336000e+05, 7.300000e+05,
       1.460000e+06, 1.500000e+05, 1.100000e+06, 7.300000e+03,
       6.000000e+06, 6.500000e+05, 5.110000e+05, 9.344000e+05,
       2.920000e+05, 1.000000e+06, 5.000000e+06, 4.000000e+06,
       4.380000e+05, 2.800000e+06, 1.700000e+06, 1.300000e+06,
       7.300000e+04, 1.825000e+05, 2.190000e+05, 5.000000e+05,
       1.518400e+06, 6.570000e+05, 1.340000e+07, 3.650000e+05,
       3.854400e+05, 1.168000e+05, 8.760000e+02, 9.000000e+06,
       1.000000e+05, 2.000000e+04, 1.200000e+05, 4.964000e+05,
       4.993200e+06, 1.431450e+05, 8.760000e+06, 7.420000e+08,
       1.460000e+07, 2.920000e+07, 3.980000e+06, 1.000000e+04,
       1.460000e+03, 3.650000e+06, 1.000000e+09, 7.000000e+06,
       3.500000e+07, 8.030000e+06, 2.850000e+07, 3.504000e+06,
       1.752000e+06, 2.400000e+06, 3.000000e+07, 3.650000e+07,
       2.300000e+07, 1.100000e+07, 6.424000e+05, 3.240000e+06,
       8.760000e+05, 5.400000e+08, 9.490000e+06, 2.336000e+07,
       9.000000e+05, 1.000000e+07, 1.500000e+06, 1.022000e+06,
       1.400000e+07, 1.496500e+06, 1.000000e+08, 1.752000e+04,
       7.592000e+07, 8.000000e+05, 1.041000e+06, 1.500000e+04,
       1.400000e+06, 1.200000e+06, 2.200000e+06, 1.800000e+06,
       3.600000e+06, 1.387000e+05, 3.000000e+05, 6.830000e+06,
       2.000000e+05, 2.190000e+06, 4.300000e+06, 3.648460e+05,
       4.000000e+05, 1.022000e+05, 2.044000e+04, 1.460000e+05,
       3.285000e+05, 1.320000e+07, 5.000000e+04, 2.046920e+06,
       3.000000e+06, 1.250000e+06, 1.800000e+05, 2.803200e+05,
       1.503800e+06, 4.200000e+06, 1.750000e+05, 1.450000e+06,
       2.920000e+03, 4.500000e+06, 6.000000e+05, 2.423600e+05,
       1.752000e+05, 1.500000e+07, 4.818000e+05, 1.250000e+05,
       1.300000e+05, 5.095400e+05, 1.051200e+06, 1.720000e+07,
       4.672000e+05, 3.500000e+06, 1.971000e+06, 1.200000e+07,
       4.000000e+07, 5.000000e+07, 2.248400e+07, 2.044000e+06,
       4.190000e+07, 2.058600e+07, 3.530000e+06, 3.300000e+06,
       8.468000e+06, 5.256000e+05, 4.964000e+06, 2.100000e+08,
       3.768000e+07, 7.446000e+06, 3.212000e+07, 2.200000e+07,
       7.000000e+04, 2.247232e+08, 2.920000e+08, 5.840000e+07,
       1.850000e+08, 6.500000e+07, 2.409000e+06, 7.000000e+05,
       3.066000e+06, 2.963216e+07, 7.500000e+07, 1.168000e+06,
       1.760000e+06, 2.700000e+06, 4.088000e+06, 1.168000e+07,
       7.500000e+05, 2.500000e+06, 8.000000e+07, 2.500000e+07,
       1.065800e+07, 5.840000e+06, 3.700000e+06, 5.600000e+06,
       3.796000e+06, 9.923000e+07, 7.000000e+07, 4.000000e+04,
       5.500000e+05, 3.650000e+08, 1.277500e+05, 1.138800e+06,
       2.800000e+07, 3.854400e+06, 1.649800e+07, 1.182600e+07,
       2.044000e+07, 1.490000e+07, 2.250000e+08, 7.500000e+03])

In [4158]:
data18.loc[(178)]

Company_Name                                       BuyForexOnline
Founded                                                       NaN
Location                                                Bangalore
Sector                                                     Travel
What_it_does    BuyForexOnline.com is India's first completely...
Founders                                                      NaN
Investor                                                      NaN
Amount                                                  2000000.0
Stage           https://docs.google.com/spreadsheets/d/1x9ziNe...
Funding_Year                                                 2018
Name: 178, dtype: object

In [4159]:
data18.loc[178, ['Stage']] = ['']

data18['Stage'] = data18['Stage'].apply(lambda x:str(x).replace('Undisclosed', ''))

In [4160]:
#drop duplicates 

data18 = data18.drop_duplicates(keep='first')

In [4161]:
data18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  525 non-null    object
 1   Founded       0 non-null      float64
 2   Location      525 non-null    object
 3   Sector        525 non-null    object
 4   What_it_does  525 non-null    object
 5   Founders      0 non-null      float64
 6   Investor      0 non-null      float64
 7   Amount        377 non-null    float64
 8   Stage         525 non-null    object
 9   Funding_Year  525 non-null    int32
dtypes: float64(4), int32(1), object(5)
memory usage: 43.1+ KB

In [4162]:
# Rename round_series to stage and location to headquarter
data18.rename(columns={
    'Company Name': 'company_brand', 
    'Industry': 'sector', 
    'Round/Series': 'stage', 
    'About Company': 'what_it_does', 
    
    },
    inplace=True
)

data18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  525 non-null    object
 1   Founded       0 non-null      float64
 2   Location      525 non-null    object
 3   Sector        525 non-null    object
 4   What_it_does  525 non-null    object
 5   Founders      0 non-null      float64
 6   Investor      0 non-null      float64
 7   Amount        377 non-null    float64
 8   Stage         525 non-null    object
 9   Funding_Year  525 non-null    int32
dtypes: float64(4), int32(1), object(5)
memory usage: 43.1+ KB

In [4163]:
# git clone https://github.com/SamuelAsong/indian-startup-funding-analysis.git
# cd indian-startup-funding-analysis
# pip install -r requirements.txt

CRISP-DM Process:
Business Understanding:

Define project objectives and requirements
Understand the start-up ecosystem and the importance of funding data
Data Understanding:

Gather and explore datasets for 2018, 2019, 2020, and 2021
Identify key features and initial insights
Data Preparation:

Clean and preprocess data
Handle missing values, duplicates, and inconsistent data
Merge datasets into a single comprehensive dataset
Data Analysis:

Perform exploratory data analysis (EDA)
Identify trends, patterns, and outliers
Visualize funding trends over the years
Modeling (if applicable):

Develop machine learning models to predict funding success (optional)
Evaluate model performance
Evaluation:

Assess the analysis results and model performance
Validate findings against business objectives
Deployment:

Present findings and recommendations
Prepare a final report and presentation
Conclusion and Findings:
Summarize key insights from the data analysis
Highlight significant trends and patterns in the Indian start-up funding landscape
Provide actionable recommendations based on data-driven insights
Discuss potential limitations and future work
This structured approach ensures a comprehensive analysis and effective communication of results, helping to make strategic, data-driven decisions in the Indian start-up ecosystem.

The CRISP-DM reference model 
1 Business understanding 

1.1 Determine business objectives 

1.2 Assess situation 

1.3 Determine data mining goals 

1.4 Produce project plan 

2 Data understanding 

2.1 Collect initial data 

2.2 Describe data 

2.3 Explore data 

2.4 Verify data quality 

3 Data preparation 

3.1 Select data 

3.2 Clean data 

3.3 Construct data 

3.4 Integrate data 

3.5 Format data 

4 Modeling 

4.1 Select modeling technique 

4.2 Generate test design 

4.3 Build model 

4.4 Assess model 

5 Evaluation 

5.1 Evaluate results 

5.2 Review process 

5.3 Determine next steps 

6 Deployment 

6.1 Plan deployment 

6.2 Plan monitoring and maintenance report 

6.4 Review project

#### Exploratory Data Analysis: EDA

This is the segment dedicated to thoroughly examining the datasets, presenting them, formulating hypotheses, and strategizing the cleaning, processing, and creation of features.

In [4164]:
print (data21.columns)

Index(['Company_Name', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Funding_Year'],
      dtype='object')

In [4165]:
print (data20.columns)

Index(['Company_Name', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Funding_Year'],
      dtype='object')

In [4166]:
print (data19.columns)

Index(['Company_Name', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Funding_Year'],
      dtype='object')

In [4167]:
print (data18.columns)

Index(['Company_Name', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Funding_Year'],
      dtype='object')

In [4168]:
# concatenating all the dataframes together
df = pd.concat([data18, data19, data20, data21], axis=0)

In [4169]:
# Export DataFrame to CSV file
#df.to_csv('df.csv', index=False)

In [4170]:
#select specific columns

                
df.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,<NA>,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000.0,Seed,2018
1,Happy Cow Dairy,<NA>,Mumbai,Agriculture,A startup which aggregates milk from dairy far...,NaN,NaN,584000.0,Seed,2018
2,MyLoanCare,<NA>,Gurgaon,Credit,Leading Online Loans Marketplace in India,NaN,NaN,949000.0,Series A,2018
3,PayMe India,<NA>,Noida,Financial Services,PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000.0,Angel,2018
4,Eunimart,<NA>,Hyderabad,E-Commerce Platforms,Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,Seed,2018

In [4171]:
df.tail()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Pre-series A,2021
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000.0,Series D,2021
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Series C,2021
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000.0,Series B,2021
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000.0,Series A,2021

In [4172]:
df.tail()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Pre-series A,2021
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000.0,Series D,2021
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Series C,2021
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000.0,Series B,2021
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000.0,Series A,2021

In [4173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2873 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  2873 non-null   object
 1   Founded       2105 non-null   Float64
 2   Location      2759 non-null   object
 3   Sector        2855 non-null   object
 4   What_it_does  2873 non-null   object
 5   Founders      2329 non-null   object
 6   Investor      2248 non-null   object
 7   Amount        2462 non-null   object
 8   Stage         1941 non-null   object
 9   Funding_Year  2873 non-null   int32
dtypes: Float64(1), int32(1), object(8)
memory usage: 238.5+ KB

In [4174]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,2105.0,2016.085986,4.367256,1963.0,2015.0,2017.0,2019.0,2021.0
Funding_Year,2873.0,2020.023669,1.087148,2018.0,2020.0,2020.0,2021.0,2021.0

In [4175]:
# index with undisclosed value at Investor column
index_ = df.index[df['Investor']=='Undisclosed']
index_

Index([5, 59, 70, 633, 675, 741, 798, 824, 902, 964, 1003, 1006, 1007], dtype='int64')

In [4176]:
# replacing them with NAN
df['Investor'] = df['Investor'].replace('Undisclosed', np.nan)

In [4177]:
#Strip the location data to only the city-area. 
df['Location'] = df.Location.str.split(',').str[0]
df['Location'].head()

0    Bangalore
1       Mumbai
2      Gurgaon
3        Noida
4    Hyderabad
Name: Location, dtype: object

Cleaning Columns
Location / Sector columns

In [4178]:
# Function to remove '#REF!' in a series
def remove_ref(value):
    if isinstance(value, str):
        value = value.replace('#REF!', '').strip()
            
    return value

# Columns of Interest 
columns = ['Location', 'Investor']
for column in columns:    
    # Identify rows where column value contains '#REF!
    mask = df[column].str.contains('#REF!')
    
    # Fill missing values in mask with False
    mask.fillna(False, inplace=True)
    
    # Update the column by applying the remove_ref function to the column
    df.loc[mask, column] = df.loc[mask, column].apply(remove_ref)
    
    # Shift values in selected rows excluding the last column 'year'
df.loc[mask, column:'Stage'] = df.loc[mask, column:'Stage'].shift(1, axis=1)


# Sanitisizing the sector column after shifting
mask = df['Sector'].apply(lambda x: x in df['Location'].unique())

# Update 'headquarter' value with 'sector' value
df.loc[mask, 'Location'] = df.loc[mask, 'Sector']

# Set the 'sector' value to NaN
df.loc[mask, 'Sector'] = np.nan

To ensure consistent representation of missing values by replacing 'None' string values with NaN

In [4179]:

# Function replace None with NaN
def replace_none(value):
    return np.nan if isinstance(value, str) and value.strip().lower() in ['none', 'nan'] else value

# Apply the function to all columns
df = df.applymap(replace_none) # element-wise

In [4180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2873 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  2873 non-null   object
 1   Founded       2105 non-null   float64
 2   Location      2748 non-null   object
 3   Sector        2855 non-null   object
 4   What_it_does  2873 non-null   object
 5   Founders      2329 non-null   object
 6   Investor      2235 non-null   object
 7   Amount        2318 non-null   object
 8   Stage         1941 non-null   object
 9   Funding_Year  2873 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 246.9+ KB

##### If a value in the 'Stage' column is a website link, its correct value is NaN

In [4181]:

# Function to remove website link from stage column
def remove_website_link(value):
    # Regular expression pattern to match website URLs
    pattern = r'https?://\S+'
    
    # Check if the value is a string and matches the pattern
    if isinstance(value, str) and re.match(pattern, value):
        return np.nan
    return value

In [4182]:
# Function to clean amount values
def floater(string):
    try:
        string = float(string)
    except ValueError:
        string = np.nan
    
    return string
    
def clean_amount(row): 
    Amount = row[0]    
    Funding_Year   = row['Funding_Year'] 
    
    # Source: https://www.ofx.com/en-au/forex-news/historical-exchange-rates/yearly-average-rates/
    exchange_rates = {
        2018: 0.014649,
        2019: 0.014209,
        2020: 0.013501,
        2021: 0.013527
    }
    
    exchange_rate = exchange_rates[year]   
    
    # Convert to string
    Amount = str(Amount)   
    
    if isinstance(Amount, str):        
        # Set of elements to replace
        to_replace = {' ', ','}

        # Replace each element in the set with an empty string
        for r in to_replace:
            Amount = Amount.replace(r, '')        
                        
        if Amount == '' or Amount == '—': 
            Amount = np.nan
        # If the amount is in INR (Indian Rupees), convert it to USD using the conversion rate of the year
        elif '₹' in Amount:
            Amount = Amount.replace('₹', '')
            Amount = floater(Amount) * exchange_rate
        
        # If the amount is in USD, remove the '$' symbol and convert it to a float
        elif '$' in Amount:
            Amount = Amount.replace('$', '')
            Amount = floater(Amount)
        else:
            Amount = floater(Amount)

    
    return Amount

In [4183]:
# Function to clean Amount field
def clean_amount(Amount, Funding_Year):
    # Define exchange rates
    exchange_rates = {
        2018: 0.014649,
        2019: 0.014209,
        2020: 0.013501,
        2021: 0.013527
    }
    
    # Handle missing values
    if pd.isnull(Amount) or Amount == '—' or Amount == '':
        return np.nan
    
    # Convert INR to USD using exchange rate
    if '₹' in Amount:
        Amount = float(Amount.replace('₹', '')) * exchange_rates[Funding_Year]
    
    # Remove $ symbol and convert to float for USD amounts
    elif '$' in Amount:
        Amount = float(Amount.replace('$', ''))
    
    # Convert other numeric strings to float
    else:
        try:
            Amount = float(Amount)
        except ValueError:
            return np.nan
    
    return Amount

In [4184]:
df.isna().sum()

Company_Name      0
Founded         768
Location        125
Sector           18
What_it_does      0
Founders        544
Investor        638
Amount          555
Stage           932
Funding_Year      0
dtype: int64

##### Handling Investor and Amount Values:
- If the investor value is numeric or contains '$':
  - Missing amount values should be replaced with the investor value.
  - The stage value should revert to the original amount value.
  - The investor value is set to NaN or missing.

def clean_amount(row):
    investor_value = row['Investor']
    funding_year_value = row['Funding_Year']
    # Your cleaning logic here
    return cleaned_value

mask = df[['Investor', 'Funding_Year']].apply(lambda row: pd.notna(clean_amount(row['Investor'], row['Funding_Year'])), axis=1)

In [4185]:
# Identify rows where 'Stage' value is numeric using clean amount function
mask = df[['Stage', 'Funding_Year']].apply(lambda row: pd.notna(clean_amount(row['Stage'], row['Funding_Year'])), axis=1)

# Update the 'What_it_does' column to its concatenation with 'Founder' value
old_What_it_does = df.loc[mask, 'What_it_does']
old_Founder = df.loc[mask, 'Founders']
df.loc[mask, 'What_it_does'] = old_What_it_does.fillna('') + ' ' + old_Founder.fillna('')

# Update 'Founder' column using the old 'Investor' value
df.loc[mask, 'Founders'] = df.loc[mask, 'Investor']

# Update 'Investor' column using the old 'Amount' value
df.loc[mask, 'Investor'] = df.loc[mask, 'Amount']

# Update 'Amount' column using the old 'Stage' value
df.loc[mask, 'Amount'] = df.loc[mask, 'Stage']

# Set 'Stage' to NaN
df.loc[mask, 'Stage'] = np.nan

In [4186]:
df.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,NaN,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000.0,Seed,2018
1,Happy Cow Dairy,NaN,Mumbai,Agriculture,A startup which aggregates milk from dairy far...,NaN,NaN,584000.0,Seed,2018
2,MyLoanCare,NaN,Gurgaon,Credit,Leading Online Loans Marketplace in India,NaN,NaN,949000.0,Series A,2018
3,PayMe India,NaN,Noida,Financial Services,PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000.0,Angel,2018
4,Eunimart,NaN,Hyderabad,E-Commerce Platforms,Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,Seed,2018

#### Clean and convert amounts to USD and rename colume from amount to amount($)

In [4187]:
# Clean and convert amounts to USD considering the average exchange rate per year
def clean_and_convert_amount(row):
    Amount = row['Amount']
    Funding_Year = row['Funding_Year']
    
    # Your cleaning logic to extract the numeric value from 'amount' and convert it to USD
    # You can use the funding year to fetch the average exchange rate for that year
    
    # For demonstration purposes, let's assume a conversion rate of 1 USD = 100 units of local currency
    # You should replace this with actual conversion logic based on your data
    
    # Example conversion logic:
    # if funding_year == 2020:
    #     converted_amount = amount * exchange_rate_2020
    # elif funding_year == 2021:
    #     converted_amount = amount * exchange_rate_2021
    # else:
    #     converted_amount = amount  # No conversion if year not found
    
    # Here we'll just return the amount as-is without conversion for demonstration
    Converted_Amount = Amount
    
    return Converted_Amount

# Clean and convert amounts to USD considering the average exchange rate per year
df['Amount'] = df[['Amount', 'Funding_Year']].apply(clean_and_convert_amount, axis=1)

In [4188]:
df.head()

,Company_Name,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Funding_Year
0,TheCollegeFever,NaN,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000.0,Seed,2018
1,Happy Cow Dairy,NaN,Mumbai,Agriculture,A startup which aggregates milk from dairy far...,NaN,NaN,584000.0,Seed,2018
2,MyLoanCare,NaN,Gurgaon,Credit,Leading Online Loans Marketplace in India,NaN,NaN,949000.0,Series A,2018
3,PayMe India,NaN,Noida,Financial Services,PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000.0,Angel,2018
4,Eunimart,NaN,Hyderabad,E-Commerce Platforms,Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,Seed,2018

#### Data Cleaning by Column
##### Cleaning Amount Column

In [4189]:
df['Amount'].unique()

array([250000.0, 584000.0, 949000.0, 2000000.0, nan, 1600000.0, 233600.0,
       730000.0, 1460000.0, 150000.0, 1100000.0, 7300.0, 6000000.0,
       650000.0, 511000.0, 934400.0, 292000.0, 1000000.0, 5000000.0,
       4000000.0, 438000.0, 2800000.0, 1700000.0, 1300000.0, 73000.0,
       182500.0, 219000.0, 500000.0, 1518400.0, 657000.0, 13400000.0,
       365000.0, 385440.0, 116800.0, 876.0, 9000000.0, 100000.0, 20000.0,
       120000.0, 496400.0, 4993200.0, 143145.0, 8760000.0, 742000000.0,
       14600000.0, 29200000.0, 3980000.0, 10000.0, 1460.0, 3650000.0,
       1000000000.0, 7000000.0, 35000000.0, 8030000.0, 28500000.0,
       3504000.0, 1752000.0, 2400000.0, 30000000.0, 36500000.0,
       23000000.0, 11000000.0, 642400.0, 3240000.0, 876000.0, 540000000.0,
       9490000.0, 23360000.0, 900000.0, 10000000.0, 1500000.0, 1022000.0,
       14000000.0, 1496500.0, 100000000.0, 17520.0, 75920000.0, 800000.0,
       1041000.0, 15000.0, 1400000.0, 1200000.0, 2200000.0, 1800000.0,
       3600000.0, 138700.0, 300000.0, 6830000.0, 200000.0, 2190000.0,
       4300000.0, 364846.0, 400000.0, 102200.0, 20440.0, 146000.0,
       328500.0, 13200000.0, 50000.0, 2046920.0, 3000000.0, 1250000.0,
       180000.0, 280320.0, 1503800.0, 4200000.0, 175000.0, 1450000.0,
       2920.0, 4500000.0, 600000.0, 242360.0, 175200.0, 15000000.0,
       481800.0, 125000.0, 130000.0, 509540.0, 1051200.0, 17200000.0,
       467200.0, 3500000.0, 1971000.0, 12000000.0, 40000000.0, 50000000.0,
       22484000.0, 2044000.0, 41900000.0, 20586000.0, 3530000.0,
       3300000.0, 8468000.0, 525600.0, 4964000.0, 210000000.0, 37680000.0,
       7446000.0, 32120000.0, 22000000.0, 70000.0, 224723200.0,
       292000000.0, 58400000.0, 185000000.0, 65000000.0, 2409000.0,
       700000.0, 3066000.0, 29632160.0, 75000000.0, 1168000.0, 1760000.0,
       2700000.0, 4088000.0, 11680000.0, 750000.0, 2500000.0, 80000000.0,
       25000000.0, 10658000.0, 5840000.0, 3700000.0, 5600000.0, 3796000.0,
       99230000.0, 70000000.0, 40000.0, 550000.0, 365000000.0, 127750.0,
       1138800.0, 28000000.0, 3854400.0, 16498000.0, 11826000.0,
       20440000.0, 14900000.0, 225000000.0, 7500.0, 6300000.0,
       150000000.0, 20000000.0, 275000000.0, 140500.0, 182700.0,
       15500000.0, 5500000.0, 140000.0, 230000000.0, 49400000.0,
       32000000.0, 26000000.0, 8000000.0, 120000000.0, 6800000.0,
       36000000.0, 5700000.0, 60000000.0, 220000.0, 2100000.0,
       311000000.0, 4800000.0, 693000000.0, 33000000.0, 340000.0,
       45000000.0, 660000000.0, 7500000.0, 145000000.0, 21000000.0,
       560000.0, 275000.0, 390000000.0, 5100000.0, 700000000.0, 2300000.0,
       19000000.0, 7800000.0, 200000000.0, 4100000.0, 575000.0,
       18000000.0, 3200000.0, 4700000.0, 121000000.0, 55000000.0,
       16000000.0, 5400000.0, 52000000.0, 118000000.0, 18500000.0,
       70000000000.0, 800000000.0, 400000000.0, 176000000.0, 470000.0,
       240000.0, 3000000000.0, 74000000.0, 62000000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 24700000.0, 7700000.0,
       19067328.0, 51000000.0, 115000.0, 54000.0, 803146.0, 238000.0,
       10220000.0, 1020000.0, 170000000.0, 2900000.0, 543000.0,
       90000000.0, 3400000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0,
       54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0, 450000.0,
       682000.0, 4050000.0, 1050000.0, 1080000.0, 2110000.0, 11943500.0,
       764000.0, 603000.0, 409000.0, 286000.0, 136000.0, 825000000.0,
       546000.0, 887000.0, 43000.0, 40900.0, 5660000.0, 350000.0,
       110000.0, 122000000.0, 11635000.0, 1065000.0, 669000.0, 16076000.0,
       649600.0, 6700000.0, 266500.0, 2879000.0, 26500000.0, 351000.0,
       46761000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 56000000.0,
       2250000.0, 16753000.0, 1470000.0, 530000.0, 267000.0, 3344000.0,
       7200000.0, 2743000.0, 6082000.0, 6609000.0, 27700000.0, 5940000.0,
       3964000.0, 197000.0, 4327000.0, 459000.0, 3937000.0, 1313500.0,
       229800.0, 5305000.0, 264000.0, 1750000.0, 5967000.0, 2980000.0,
       323000.0, 1326000.0, 27000000.0, 5200000.0, 2530000.0, 792000.0,
       11363000.0, 1715000.0, 329000.0, 5271000.0, 8700000.0, 3226000.0,
       5900000.0, 44000000.0, 3879000.0, 13000000.0, 8800000.0, 9500000.0,
       920000.0, 35600000.0, 9400000.0, 790000.0, 480000.0, 160000.0,
       8200000.0, 4257000.0, 1410000.0, 349800.0, 786000.0, 2004000.0,
       123000000.0, 248000.0, 24000000.0, 14259000.0, 24500000.0,
       3800000.0, 18370000.0, 68525000.0, 1834000.0, 23850000.0,
       43000000.0, 21600000.0, 4598000.0, 13137000.0, 115000000.0,
       3900000.0, 670000.0, 8500000.0, 3148000.0, 2600000.0, 4049500.0,
       10500000.0, 6500000.0, 43700000.0, 13800000.0, 306900.0, 420000.0,
       627300.0, 113000000.0, 110000000.0, 1397000.0, 448500.0, 7975700.0,
       330000.0, 1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 84000000.0,
       39000000.0, 1403400.0, 105000000.0, 103000000.0, 281300.0, 12700.0,
       25000.0, 97500000.0, 507000.0, 8400000.0, 18300000.0, 125000000.0,
       181000.0, 280000.0, 14700000.0, 8043000.0, '1200000.0',
       '120000000.0', '30000000.0', '51000000.0', '2000000.0',
       '188000000.0', '200000.0', '1000000.0', '3000000.0', '100000.0',
       '700000.0', '9000000.0', '40000000.0', '49000000.0', '400000.0',
       '300000.0', '25000000.0', '160000000.0', '150000.0', '1800000.0',
       '5000000.0', '850000.0', '53000000.0', '500000.0', '1100000.0',
       '6000000.0', '800000.0', '10000000.0', '21000000.0', '7500000.0',
       '26000000.0', '7400000.0', '1500000.0', '600000.0', '800000000.0',
       '17000000.0', '3500000.0', '15000000.0', '215000000.0',
       '2500000.0', '350000000.0', '5500000.0', '83000000.0',
       '110000000.0', '500000000.0', '65000000.0', '150000000000.0',
       '300000000.0', '2200000.0', '35000000.0', '140000000.0',
       '4000000.0', '13000000.0', '9500000.0', '8000000.0', '12000000.0',
       '1700000.0', '150000000.0', '100000000.0', '225000000.0',
       '6700000.0', '1300000.0', '20000000.0', '250000.0', '52000000.0',
       '3800000.0', '17500000.0', '42000000.0', '2300000.0', '7000000.0',
       '450000000.0', '28000000.0', '8500000.0', '37000000.0',
       '370000000.0', '16000000.0', '44000000.0', '770000.0',
       '125000000.0', '50000000.0', '4900000.0', '145000000.0',
       '22000000.0', '70000000.0', '6600000.0', '32000000.0',
       '24000000.0', '725000.0', '461000.0', '96000000.0', '60000000.0',
       '266000000.0', '4500000.0', '325000000.0', '6500000.0',
       '1600000.0', '225000.0', '85000000.0', '235000.0', '260000.0',
       '2900000.0', '86000000.0', '130000.0', '10000.0', '111000000.0',
       '265000.0', '76000000.0', '75000000.0', '1000000000.0',
       '18000000.0', '350000.0', '95000000.0', '4100000.0', '5200000.0',
       '1400000.0', '2600000.0', '900000.0', '11000000.0', '280000000.0',
       '14300000.0', '81000000.0', '8200000.0', '720000.0', '330000.0',
       '200000000.0', '36000000.0', '67000000.0', '10200000.0',
       '220000000.0', '108000000.0', '450000.0', '660000000.0',
       '45000000.0', '3200000.0', '370000.0', '48000000.0', '3600000.0',
       '192000000.0', '1900000.0', '41000000.0', '144000000.0',
       '270000000.0', '140000.0', '250000000.0', '320000.0', '4800000.0',
       '38000000.0', '125000.0', '64000000.0', '620000.0', '$6000000',
       '1250000.0', '400000000.0', '27000000.0', '234000000.0',
       '460000000.0', '13500000.0', '5100000.0', '195000000.0',
       '7300000.0', '6300000.0', '12500000.0', '16500000.0', '340000.0',
       '43000000.0', '3300000.0', '92000000.0', '135000000.0', '155000.0',
       '2100000.0', '840000000.0', '248000000.0', '4300000.0', '570000.0',
       '4700000.0', '260000000.0', '175000000.0', '19000000.0',
       '810000.0', '600000000.0', '90000000.0', '5700000.0', '6750000.0',
       '78000000.0', '5400000.0', '115000000.0', '255000000.0',
       '570000000.0', '550000.0', '2700000.0', '4200000.0', '31000000.0',
       '540000.0', '14000000.0', '6200000.0', '750000.0', '23000000.0',
       '55000000.0'], dtype=object)

In [4190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2873 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  2873 non-null   object
 1   Founded       2105 non-null   float64
 2   Location      2748 non-null   object
 3   Sector        2855 non-null   object
 4   What_it_does  2873 non-null   object
 5   Founders      2329 non-null   object
 6   Investor      2234 non-null   object
 7   Amount        2319 non-null   object
 8   Stage         1940 non-null   object
 9   Funding_Year  2873 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 246.9+ KB

In [4192]:
# Remove non-numeric characters and the dollar sign ('$')
df['Amount'] = df['Amount'].apply(lambda x: str(x).replace('$', '') if pd.notna(x) else x)

In [4193]:
# Convert 'Amount' column to float 
df['Amount'] = df['Amount'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2873 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  2873 non-null   object
 1   Founded       2105 non-null   float64
 2   Location      2748 non-null   object
 3   Sector        2855 non-null   object
 4   What_it_does  2873 non-null   object
 5   Founders      2329 non-null   object
 6   Investor      2234 non-null   object
 7   Amount        2319 non-null   float64
 8   Stage         1940 non-null   object
 9   Funding_Year  2873 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 246.9+ KB